@font-face {
    font-family: MPlus;
    src: url(./M_PLUS_Code_Latin/static/MPLUSCodeLatin-Regular.ttf);
}

body {
    background-color: #121212;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}