.label {
    color: white;
}

.heading {
    font-family: MPlus;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.subheading {
    font-family: MPlus;
    color: white;
    text-decoration: none;
}

.map {
    height: auto;
    width: auto;
}